@model IEnumerable<site.Models.Article>
@{
ViewBag.Title = "Главная";
    Article[] ar = Model.ToArray();
}
@for (int i = 0; i < ar.Length; i++)
{
    <article class="article">
        <img src="./img/bg.jpg" class="article__cover" alt="">
        <span class="article__datetype">@ar[i].Date.ToString("d MMMM  yyyy")</span>
        <a>
            <h4 class="article__title">@ar[i].Name</h4>
        </a>
        
        <p class="article__description">@ar[i].Description</p>
        <a href="" class="article__readmore">
            Подробнее</a>
    </article>
}

