<section class="join">
    <h2 class="h2-common">Присоединяйтесь</h2>
    <h3 class="h3-common">Подписывайтесь на нас в социальных сетях и будьте в курсе событий!</h3>
    <div class="join__list">
        <a href="">
            <object type="image/svg+xml" data="~/img/logo_vk.svg" class = "join__img">
            </object>
        </a>
        <a href="">
            <object type="image/svg+xml" data="~/img/logo_vk.svg" class = "join__img">
            </object>
        </a>
        <a href="">
            <object type="image/svg+xml" data="~/img/logo_vk.svg" class = "join__img">
            </object>
        </a>
        <a href="">
            <object type="image/svg+xml" data="~/img/logo_vk.svg" class = "join__img">
            </object>
        </a>
        <a href="">
            <object type="image/svg+xml" data="~/img/logo_vk.svg" class = "join__img">
            </object>
        </a>




    </div>
</section>