*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #434343;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #434343;
}
a:hover {
  text-decoration: none;
}

sup {
  top: -0.2em;
}

.hamburger {
  width: 20px;
  height: 13px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  z-index: 600;
  align-items: center;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger .line {
  position: relative;
  transition: 0.4s;
  width: 20px;
  height: 1px;
  background-color: #fff;
}
.hamburger .line::before, .hamburger .line::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 20px;
  background-color: #fff;
  transition: 0.4s;
}
.hamburger .line::before {
  top: 5px;
}
.hamburger .line::after {
  top: -5px;
}
.hamburger__active {
  width: 20px;
}
.hamburger__active .line {
  width: 0;
}
.hamburger__active .line::before {
  transform: rotate(45deg) translateY(-2px) translateX(-5px);
}
.hamburger__active .line::after {
  transform: rotate(-45deg) translateY(2px) translateX(-5px);
}

.overlay {
  opacity: 0;
  transition: 0.3s;
  background-color: #434343;
  position: absolute;
  top: 163px;
  width: 100%;
  height: 100vh;
  z-index: -5;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  text-align: center;
}
.overlay ul {
  margin-top: 40px;
}
.overlay ul li {
  margin: 10px 0;
}
.overlay ul li a {
  color: #fff;
}
.overlay__active {
  opacity: 1;
}

.h2-common {
  font-size: 32px;
  color: #434343;
  text-align: center;
}

.h3-common {
  font-size: 20px;
  color: #434343;
  text-align: center;
}

.bttn-dark {
  padding: 12px 24px;
  background-color: #555;
  color: #fff;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s;
}
.bttn-dark:hover {
  background-color: #d63031;
  color: #fff;
  cursor: pointer;
}

.bttn-light {
  padding: 12px 24px;
  border: 1px solid #555;
  color: #555;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s;
}
.bttn-light:hover {
  border: 1px solid #d63031;
  color: #d63031;
  cursor: pointer;
}

.header {
  width: 100%;
}
.header__text {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
.header__top {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e9e9e9;
}
.header__top__icons {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.header__top__icons a {
  width: 30px;
  height: 30px;
  margin-left: 7.5px;
  margin-right: 7.5px;
}
.header__top__icons svg {
  width: 30px;
  height: 30px;
  fill: #434343;
}
.header__top__lang {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__top__lang object {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.header__top__lang a {
  font-size: 16px;
}
.header__bot {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #434343;
}
.header__bot .wrapper {
  display: none;
}
.header__bot__name {
  font-size: 32px;
  color: #d9d9d9;
}
.header__bot__motto {
  font-size: 20px;
  color: #d9d9d9;
}
.header__bot ul {
  margin: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.header__bot ul li {
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  margin-left: 7.5px;
  margin-right: 7.5px;
}
.header__bot ul li a {
  position: relative;
  color: #d9d9d9;
}
.header__bot ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 25%;
  background-color: #fff;
  transition: 0.3s;
}
.header__bot ul li a:hover::before {
  background-color: #ffeaa7;
  width: 100%;
}

.about {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 75px;
}
.about__description {
  margin-top: 40px;
}
.about__description__text p {
  margin-bottom: 40px;
}
.about__description img {
  width: 100%;
}
.about__description__text {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-we {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 75px;
}
.why-we__title {
  text-align: center;
}
.why-we .list {
  margin-top: 40px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
}
.why-we .list__inner {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.why-we .list__inner svg {
  width: 100px;
  height: 100px;
  color: #434343;
}
.why-we .list__inner p {
  font-size: 16px;
}
.why-we .list__inner span {
  margin-top: 20px;
  font-size: 24px;
}

.team {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team__selection {
  margin-top: 60px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
.team__selection a {
  font-size: 24px;
  margin: 0 10px;
  color: #7d7d7d;
}
.team__selection a:active {
  color: #434343;
}
.team__list {
  margin-top: 60px;
}
.team__list__inner {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
}
.team__list__inner .left {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
  padding: 0 10px;
}
.team__list__inner .left img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
}
.team__list__inner .left .links {
  margin-top: 30px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.team__list__inner .left .links a {
  width: 30px;
  height: 30px;
  display: block;
  margin-left: 7.5px;
  margin-right: 7.5px;
}
.team__list__inner .left .links object {
  width: 30px;
  height: 30px;
  pointer-events: none;
}
.team__list__inner .right {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  width: calc(100% - 210px);
}
.team__list__inner .right .name {
  font-size: 24px;
}
.team__list__inner .right .position, .team__list__inner .right .email {
  font-size: 14px;
  margin-top: 10px;
}
.team__list__inner .right .description {
  font-size: 16px;
  margin-top: 10px;
}
.team__list__inner .right .more {
  margin-right: 10px;
  font-size: 14px;
}
.team__load {
  margin-top: 50px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

.projects {
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__load {
  margin-top: 50px;
}
.projects__title {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
.projects__title .date {
  margin-top: 10px;
}
.projects__item {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  width: 94%;
  height: 270px;
}
.projects__item .left, .projects__item .right {
  width: 50%;
}
.projects__item .left {
  background-color: #bababa;
  max-height: 300px;
}
.projects__item .left__img {
  max-height: 300px;
  width: 100%;
  height: 100%;
}
.projects__item .right {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  background-color: #E9E9E9;
  justify-content: space-between;
  text-align: left;
  padding: 20px;
}
.projects__item .right span {
  color: #434343;
}
.projects__item .right .type {
  font-size: 20px;
}
.projects__item .right .name {
  font-size: 24px;
}
.projects__item .right .comp-more {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.projects__item .right .company {
  font-size: 14px;
}
.projects__item .right a {
  font-size: 14px;
}

.join {
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.join__list {
  margin-top: 40px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
}
.join__list a {
  width: 30px;
  height: 30px;
  display: block;
  margin-left: 7.5px;
  margin-right: 7.5px;
}
.join__list object {
  width: 30px;
  height: 30px;
  pointer-events: none;
}

.contancts {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 75px;
}
.contancts .h2-common {
  text-align: left;
}
.contancts__text {
  font-size: 20px;
}
.contancts__list__item {
  margin-top: 30px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.contancts__list__title {
  flex-basis: 180px;
  margin: 0;
  font-size: 24px;
}
.contancts__list__text {
  margin: 0;
  font-size: 16px;
}
.contancts__form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contancts__form__container {
  background-color: #e9e9e9;
  padding: 60px 90px 70px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
.contancts__form__container p {
  font-size: 14px;
}
.contancts__form input[type="text"] {
  background-color: rgba(103, 103, 103, 0.2);
  margin: 12px 0 15px;
  border-radius: 4px;
  border: 0;
  font-size: 14px;
  width: 100%;
  padding: 10px 20px;
}
.contancts__form textarea {
  background-color: rgba(103, 103, 103, 0.2);
  margin: 12px 0 15px;
  border-radius: 4px;
  border: 0;
  font-size: 14px;
  width: 100%;
  padding: 10px 20px;
}
.contancts__form input[type="submit"] {
  font-size: 14px;
  padding: 9px 24px;
  background-color: #555;
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s;
}
.contancts__form input[type="submit"]:hover {
  background-color: #d63031;
  color: #fff;
  cursor: pointer;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #434343;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  color: #d9d9d9;
}
.footer__text {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
.footer__name {
  font-size: 36px;
}
.footer__motto {
  font-size: 24px;
}
.footer__inner {
  width: 100%;
}
.footer__inner .created {
  font-size: 14px;
  color: #fff;
}
.footer__inner .line {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.125);
}
.footer__inner .rights {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer__inner ul {
  margin: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.footer__inner ul li {
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  margin-left: 7.5px;
  margin-right: 7.5px;
}
.footer__inner ul li a {
  color: #d9d9d9;
  position: relative;
}
.footer__inner ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 25%;
  background-color: #fff;
  transition: 0.3s;
}
.footer__inner ul li a:hover::before {
  background-color: #ffeaa7;
  width: 100%;
}

@media only screen and (max-width: 960px) {
  section {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
  }

  .about__description__text p {
    margin-top: 30px;
  }

  .header__bot ul {
    display: none;
  }
  .header__bot .wrapper {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-end;
  }

  .footer__name {
    font-size: 28px;
  }
  .footer__motto {
    font-size: 18px;
  }
}
@media only screen and (max-width: 770px) {
  .h2-common {
    font-size: 26px;
  }

  .h3-common {
    font-size: 18px;
  }

  .header__bot ul {
    display: none;
  }

  .footer__text {
    text-align: center;
  }
  .footer__inner .line {
    text-align: center;
  }
  .footer__inner .rights {
    justify-content: center;
  }
  .footer ul {
    margin-top: 20px;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  .footer ul li {
    margin: 5px 0;
  }
  .footer ul li a::before {
    width: 0;
  }

  .contancts__form__container {
    padding: 40px 10px 40px;
  }

  .projects__item {
    flex-direction: column;
    height: 480px;
  }
  .projects__item .left, .projects__item .right {
    width: 100%;
  }
  .projects__item .left__img {
    width: 100%;
    height: 100%;
  }
  .projects__item .right {
    padding: 10px;
    height: 180px;
  }
}
@media only screen and (max-width: 540px) {
  .overlay {
    top: 150px;
  }

  .header__top__icons {
    display: none;
  }
  .header__top__lang {
    display: none;
  }

  .team__list__inner {
    flex-direction: column;
    align-items: center;
  }
  .team__list__inner .left, .team__list__inner .right {
    width: 90%;
  }
  .team__list__inner .right {
    margin-top: 30px;
    text-align: center;
  }
}
@media only screen and (max-width: 400px) {
  .overlay {
    top: 170px;
  }
}

/*# sourceMappingURL=style.css.map */
