*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #434343;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #434343;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

sup {
  top: -0.2em;
}

.h2-common {
  font-size: 32px;
}

.h3-common {
  font-size: 20px;
  margin-top: 15px;
}

.bttn-dark {
  border: 0;
  font-size: 15px;
  padding: 12px 24px;
  background-color: #555;
  color: #fff;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s;
}
.bttn-dark:hover {
  background-color: #d63031;
  color: #fff;
  cursor: pointer;
}

.bttn-light {
  border: 0;
  font-size: 15px;
  padding: 12px 24px;
  background-color: transparent;
  border: 1px solid #555;
  color: #555;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s;
}
.bttn-light:hover {
  border: 1px solid #d63031;
  background-color: #d63031;
  color: #fff;
  cursor: pointer;
}

.bttn-delete {
  border: 0;
  font-size: 15px;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid #de3a3a;
  color: #de3a3a;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s;
}
.bttn-delete:hover {
  border: 1px solid #d63031;
  background-color: #d63031;
  color: #fff;
  cursor: pointer;
}

.container {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
  max-width: 1170px;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 100%;
}

.hamburger {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 13px;
  z-index: 600;
  align-items: center;
}
.hamburger:hover {
  cursor: pointer;
}
.hamburger .line {
  position: relative;
  transition: 0.4s;
  width: 20px;
  height: 1px;
  background-color: #fff;
}
.hamburger .line::before, .hamburger .line::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 20px;
  background-color: #fff;
  transition: 0.4s;
}
.hamburger .line::before {
  top: 5px;
}
.hamburger .line::after {
  top: -5px;
}
.hamburger__active {
  width: 20px;
}
.hamburger__active .line {
  width: 0;
}
.hamburger__active .line::before {
  transform: rotate(45deg) translateY(-2px) translateX(-5px);
}
.hamburger__active .line::after {
  transform: rotate(-45deg) translateY(2px) translateX(-5px);
}

.header {
  z-index: 111241241;
}
.header__top {
  height: 50px;
  background-color: #e9e9e9;
}
.header__top__links a {
  width: 30px;
  height: 30px;
}
.header__top__links a svg {
  width: 30px;
  height: 30px;
  fill: #434343;
}
.header__bottom {
  height: 120px;
  color: #d9d9d9;
  background-color: #434343;
}
.header__bottom__nav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.header__bottom__nav a {
  margin-left: 7.5px;
  margin-right: 7.5px;
  position: relative;
  color: #d9d9d9;
}
.header__bottom__nav a::before {
  content: "";
  position: absolute;
  bottom: -6px;
  height: 1px;
  width: 25%;
  background-color: #fff;
  transition: 0.3s;
}
.header__bottom__nav a:hover::before {
  background-color: #ffeaa7;
  width: 100%;
}
.header__bottom .overlay {
  position: relative;
  display: none;
  opacity: 0;
  transition: 0.7s;
  background-color: #434343;
  height: 0;
  z-index: -100;
  justify-content: center;
  text-align: center;
}
.header__bottom .overlay nav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-top: 0;
  transition: 0.7s;
  flex-direction: column;
}
.header__bottom .overlay nav a {
  color: #e9e9e9;
  margin: 10px 0;
  color: #fff;
}
.header__bottom .overlay__active {
  opacity: 1;
  height: 100vh;
}
.header__bottom .overlay__active nav {
  margin-top: 40px;
}

.about {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 75px;
}
.about__title {
  text-align: center;
}
.about__title .container {
  flex-direction: column;
}
.about__description {
  margin-top: 40px;
}
.about__description__text {
  flex-basis: 48%;
}
.about__description__text p {
  margin-bottom: 40px;
  line-height: 1.6rem;
}
.about__description__img {
  width: 50%;
}
.about__description__img img {
  object-fit: cover;
  width: 100%;
}
.about__description__text {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-we {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
}
.why-we__title {
  text-align: center;
}
.why-we__list {
  margin-top: 40px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
}
.why-we__list .container {
  justify-content: center;
  flex-wrap: wrap;
}
.why-we__list__inner {
  height: 270px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 33%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.why-we__list__inner svg {
  width: 100px;
  height: 100px;
  color: #434343;
}
.why-we__list__inner p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 15px;
  line-height: 1.6rem;
}
.why-we__list__inner span {
  margin-top: 20px;
  font-size: 24px;
}

.team {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.team__list {
  margin-top: 60px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.team__list__inner {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-bottom: 70px;
}
.team__list__inner .left {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 195px;
  padding: 0 10px;
}
.team__list__inner .left img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
}
.team__list__inner .left .links {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-column-start: auto;
}
.team__list__inner .left .links a {
  width: 26px;
  height: 26px;
  display: block;
}
.team__list__inner .left .links object {
  width: 26px;
  height: 26px;
  pointer-events: none;
  border-radius: 20%;
}
.team__list__inner .right {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.team__list__inner .right .name {
  font-size: 24px;
}
.team__list__inner .right .position, .team__list__inner .right .email {
  font-size: 14px;
  margin-top: 10px;
}
.team__list__inner .right .description {
  line-height: 1.6rem;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.team__list__inner .right .more {
  margin-right: 10px;
  font-size: 14px;
}
.team__list__inner .right .more:hover {
  color: #ff5b01;
}
.team__load {
  margin-top: 50px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

.projects {
  padding-top: 75px;
  padding-bottom: 75px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__list {
  width: 100%;
}
.projects__list .container {
  flex-wrap: wrap;
  justify-content: flex-start;
}
.projects__load {
  margin-top: 50px;
}
.projects__title {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
.projects__title .date {
  margin-top: 10px;
}
.projects__item {
  margin-top: 40px;
  margin-left: 6px;
  margin-right: 6px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  width: 32%;
}
.projects__item .left, .projects__item .right {
  width: 100%;
}
.projects__item .left {
  background-color: #bababa;
}
.projects__item .left__img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
.projects__item .right {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  background-color: #E9E9E9;
  justify-content: space-between;
  text-align: left;
  padding: 20px;
}
.projects__item .right span {
  color: #434343;
}
.projects__item .right .type {
  font-size: 20px;
}
.projects__item .right .name {
  margin-top: 15px;
  font-size: 24px;
  word-break: break-all;
}
.projects__item .right .comp-more {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.projects__item .right .company {
  font-size: 14px;
}
.projects__item .right a {
  font-size: 14px;
}
.projects__item .right a:hover {
  color: #a856e8;
}

.join {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.join__list {
  margin-top: 40px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
}
.join__list a {
  width: 30px;
  height: 30px;
  margin-left: 7.5px;
  margin-right: 7.5px;
}
.join__list object {
  width: 30px;
  height: 30px;
  pointer-events: none;
}

.news {
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.news__block {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}
.news__block__latest, .news__block__prev {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
.news__block__latest__text, .news__block__prev__text {
  position: absolute;
  bottom: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  background-color: #BABABA;
  width: 100%;
  padding: 20px;
}
.news__block__latest__text .category, .news__block__prev__text .category {
  font-size: 14px;
}
.news__block__latest__text .title, .news__block__prev__text .title {
  margin-top: 20px;
  font-size: 24px;
  position: relative;
  line-height: 2rem;
}
.news__block__latest__text .auth-name, .news__block__prev__text .auth-name {
  margin-top: 20px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.news__block__latest__text .auth-name .author, .news__block__prev__text .auth-name .author {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.news__block__latest__text .auth-name .author__img, .news__block__prev__text .auth-name .author__img {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.news__block__latest__text .auth-name .time, .news__block__prev__text .auth-name .time {
  margin-left: 30%;
}
.news__block__latest {
  width: 56%;
  height: 750px;
  position: relative;
  background-size: cover;
  background-position: center;
}
.news__block__prev {
  width: 41%;
  height: 750px;
  justify-content: space-between;
}
.news__block__prev__art {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 48%;
}
.news .container {
  justify-content: center;
  flex-wrap: wrap;
}

.all {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.all .container {
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.all .article {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  width: 32%;
  height: 600px;
  margin-top: 35px;
  margin-left: 6px;
  margin-right: 6px;
}
.all .article__cover {
  width: 100%;
  margin-bottom: 20px;
}
.all .article__datetype {
  font-size: 14px;
}
.all .article__title {
  line-height: 2rem;
  margin-top: 10px;
  font-size: 24px;
}
.all .article__description {
  margin-top: 8px;
  line-height: 2rem;
  font-size: 16px;
}
.all .article__readmore {
  margin-top: auto;
  margin-bottom: 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.contacts {
  padding: 60px 0;
}
.contacts .container {
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.contacts__text {
  width: 45%;
}
.contacts__text p {
  margin-top: 15px;
  font-size: 20px;
  line-height: 1.6em;
}
.contacts__text__data {
  margin-top: 40px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contacts__text__data h4 {
  flex-basis: 180px;
  font-size: 24px;
}
.contacts__text__data span {
  font-size: 16px;
}
.contacts__form {
  background-color: #E9E9E9;
  width: 65%;
}
.contacts__form form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
.contacts__form__container {
  padding: 30px 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: #E9E9E9;
}
.contacts__form label {
  margin-top: 35px;
}
.contacts__form input, .contacts__form textarea {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(103, 103, 103, 0.2);
  font-size: 14px;
  border: 0;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px 20px;
}
.contacts__form input::-webkit-input-placeholder, .contacts__form textarea::-webkit-input-placeholder {
  transition: 0.3s;
  opacity: 1;
}
.contacts__form input:focus::-webkit-input-placeholder, .contacts__form textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}
.contacts__form p {
  margin-top: 15px;
  margin-bottom: 15px;
}
.contacts__form input[type=submit] {
  font-size: 14px;
  padding: 9px 24px;
  background-color: #555;
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s;
}
.contacts__form input[type=submit]:hover {
  background-color: #d63031;
  cursor: pointer;
}

.project {
  padding-top: 70px;
  padding-bottom: 70px;
}
.project > .container {
  flex-direction: column;
}
.project__cover {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  object-fit: cover;
  height: calc(500px - 0.8);
}
.project__cover img {
  width: 80%;
  height: 80%;
}
.project__title {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 30px;
}
.project__info {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}
.project__slider, .project__text {
  width: 49%;
}
.project__text h2 {
  font-size: 26px;
  margin-bottom: 20px;
}
.project__text p {
  margin-bottom: 20px;
  line-height: 1.5em;
  font-size: 18px;
}
.project .item {
  background-color: #000;
}
.project__links {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.project__links-item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.project__links-item img {
  width: 64px;
  height: 64px;
  border-radius: 10%;
}
.project__links-item a {
  margin-top: 10px;
}

.login, .register {
  padding-top: 70px;
  padding-bottom: 70px;
  min-height: calc(100vh - 410px);
}
.login .container, .register .container {
  flex-direction: column;
}
.login form, .register form {
  margin-top: 20px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  width: 30%;
}
.login form label, .register form label {
  margin-top: 10px;
}
.login form input[type="text"], .login form input[type="password"], .register form input[type="text"], .register form input[type="password"] {
  font-size: 14px;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid #222222;
  outline: 0;
  font-family: "Montserrat", sans-serif;
}
.login form input[type="text"]:focus, .login form input[type="password"]:focus, .register form input[type="text"]:focus, .register form input[type="password"]:focus {
  outline: 2px solid #222222;
}
.login form input[type="submit"], .register form input[type="submit"] {
  margin-top: 15px;
  padding: 8px 20px;
}
.login__group, .register__group {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.edit {
  padding-top: 70px;
  padding-bottom: 70px;
}
.edit .container {
  flex-direction: column;
}
.edit form {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin-top: 40px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edit form label {
  font-size: 18px;
  margin-bottom: 15px;
}
.edit form input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #222222;
  outline: 0;
  font-family: "Montserrat", sans-serif;
}
.edit form input[type="text"]:focus {
  outline: 2px solid #222222;
}
.edit form input[type="submit"] {
  font-family: "Montserrat", sans-serif;
}
.edit form textarea {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  resize: none;
  border: 1px solid #222222;
  outline: 0;
  min-height: 300px;
}
.edit form textarea:focus {
  outline: 2px solid #222222;
}
.edit__social__group {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}
.edit__social__group img {
  width: 48px;
  height: 48px;
  flex-basis: 48px;
  margin-right: 40px;
}
.edit__group {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.edit__group .bttn-light {
  width: 40%;
}
.edit__group .previous {
  width: 300px;
  height: 300px;
}
.edit__courses__group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
.edit__courses__group .second_label {
  font-size: 14px;
  align-self: center;
}
.edit__courses__group textarea {
  grid-column: 1/3;
  min-height: 100px !important;
}
.edit__courses__group input, .edit__courses__group textarea {
  margin-bottom: 10px;
}
.edit__courses__group input[type="date"] {
  padding: 10px;
  color: #434343;
  font-family: "Montserrat", sans-serif;
  grid-column: 2;
}

.footer {
  min-height: 240px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #434343;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #e9e9e9;
}
.footer .container {
  flex-wrap: wrap;
}
.footer__text {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
.footer__top {
  width: 100%;
  margin-bottom: 50px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.footer__top__nav {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__top__nav a {
  margin-left: 7.5px;
  margin-right: 7.5px;
  position: relative;
  color: #e9e9e9;
}
.footer__top__nav a::before {
  content: "";
  position: absolute;
  bottom: -6px;
  right: 0;
  height: 1px;
  width: 25%;
  background-color: #fff;
  transition: 0.3s;
}
.footer__top__nav a:hover::before {
  background-color: #74b9ff;
  width: 100%;
}
.footer__bottom {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.footer__name {
  font-size: 36px;
}
.footer__motto {
  font-size: 24px;
}
.footer .line {
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.125);
}

.user {
  padding-top: 70px;
  padding-bottom: 70px;
}
.user > .container {
  flex-direction: column;
  align-items: flex-start;
}
.user .job-list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
}
.user .job-list-item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.user .job-list-item p {
  font-size: 16px;
}
.user .job-list-item span {
  font-size: 18px;
  margin-bottom: 20px;
}
.user .job-list-item a {
  color: #5ea3e9;
  position: relative;
}
.user .job-list-item a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 1px;
  transform: scale(0);
  background-color: #5ea3e9;
  transition: 0.2s;
  transform-origin: center;
  width: 100%;
}
.user .job-list-item a:hover::before {
  background-color: #5ea3e9;
  transform: scale(1);
  width: 100%;
}
.user__group {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 50px;
  width: 100%;
}
.user__group img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
.user__group p {
  line-height: 1.5em;
  font-size: 20px;
}
.user__group-img {
  width: 500px;
  height: 500px;
}
.user__group-text {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.user__group-text .name {
  font-size: 30px;
  margin-bottom: 20px;
}
.user__group-text h2 {
  font-size: 26px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.user h3 {
  font-size: 26px;
  margin-bottom: 20px;
}
.user p {
  font-size: 20px;
  margin-bottom: 15px;
}
.user__links {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.user__links-item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  margin-left: 15px;
  margin-bottom: 20px;
}
.user__links-item a {
  margin-top: 10px;
}
.user__links-item a object {
  width: 64px;
  height: 64px;
  border-radius: 10%;
  pointer-events: none;
}

.add {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: calc(100vh - 410px);
}
.add > .container {
  flex-direction: column;
}
.add .bttn-light {
  margin-top: 10px;
}
.add .bttn-dark {
  margin-top: 50px;
}
.add form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  width: 500px;
}
.add form > label {
  margin-top: 15px;
  font-size: 18px;
}
.add form input[type='text'], .add form textarea {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(103, 103, 103, 0.2);
  font-size: 14px;
  border: 0;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px 20px;
  width: 100%;
}
.add form .group {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.add form .checkbox {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  margin-top: 15px;
  width: 100%;
}
.add form .checkbox label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-color: #fff;
  border: 2px solid #434343;
  vertical-align: middle;
}
.add form textarea {
  resize: none;
  min-height: 300px;
}
.add form input[type="checkbox"] {
  display: none;
}
.add form input[type="checkbox"]:checked + label::before {
  background-color: #434343;
}

.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  align-items: center;
  justify-content: center;
  display: none;
}
.modal form {
  width: 300px;
  height: 130px;
  background-color: #fff;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
}

#deleteModal:target {
  display: block;
  pointer-events: auto;
}
#deleteModal:target .modal {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.delete {
  color: #de3a3a;
  margin-bottom: 10px;
}

@media only screen and (max-width: 960px) {
  .user__group {
    flex-direction: column;
    align-items: center;
  }
  .user__group-img {
    width: 280px;
    height: 280px;
  }
  .user__group-img img {
    width: 280px;
    height: 280px;
  }
  .user__group-text {
    margin-top: 40px;
  }

  .about__description {
    margin-top: 40px;
  }
  .about__description .container {
    flex-direction: column-reverse;
  }
  .about__description__text {
    width: 100%;
    padding: 10px;
  }
  .about__description__text p {
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.6rem;
  }
  .about__description__img {
    width: 100%;
  }
  .about__description__img img {
    width: 100%;
  }

  .why-we__list__inner {
    width: 49%;
  }

  .team__list__inner {
    margin-bottom: 20px;
    width: 100%;
  }

  .projects__item {
    width: 100%;
  }
  .projects__item .left__img {
    object-fit: contain;
  }

  .contacts__text {
    width: 100%;
  }
  .contacts__form__container {
    margin-top: 40px;
    width: 100%;
  }
  .contacts .container {
    flex-direction: column;
  }

  .news__block {
    flex-direction: column;
  }
  .news__block__latest {
    width: 100%;
  }
  .news__block__prev {
    width: 100%;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  .news__block__prev__art {
    margin-top: 30px;
    width: 49%;
  }

  .all .article {
    width: 49%;
    margin-left: 0;
    margin-right: auto;
  }

  .footer__text {
    text-align: center;
  }
  .footer__motto {
    margin-top: 20px;
  }
  .footer__top {
    flex-direction: column;
    align-items: center;
  }
  .footer__top__nav {
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
  }
  .footer__top__nav a {
    margin: 12px 0;
  }
  .footer__top__nav a::before {
    display: none;
  }
  .footer__bottom {
    flex-direction: column;
    align-items: center;
  }
  .footer__bottom .created {
    margin-top: 25px;
  }
  .footer__bottom .rights {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 770px) {
  .hamburger {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }

  .header__bottom__text {
    text-align: center;
  }
  .header__bottom .container {
    justify-content: center;
  }
  .header__bottom__nav {
    display: none;
  }
  .header .overlay {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }

  .why-we__list__inner {
    margin-top: 10px;
    width: 100%;
  }

  .news__block {
    flex-direction: column;
  }
  .news__block__latest {
    width: 100%;
  }
  .news__block__prev {
    width: 100%;
    margin: 0;
    flex-direction: column;
    height: 1500px;
  }
  .news__block__prev__art {
    height: 750px;
    margin-top: 30px;
    width: 100%;
  }

  .team__list__inner {
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }
  .team__list__inner .left, .team__list__inner .right {
    width: 100%;
  }
  .team__list__inner .right {
    height: 220px;
    margin-top: 30px;
  }

  .project > .container {
    justify-content: center;
  }
  .project__slider {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
  }
  .project__slider, .project__text {
    width: 100%;
  }

  .all .article {
    width: 100%;
  }
  .all .article__cover {
    height: 360px;
  }
}

/*# sourceMappingURL=style.css.map */
