@{
    Layout = "_Header_Footer";
}
<section class="add">
    <div class="container">
        <h2 class="h2-common">Добавление нового проекта</h2>
        <form asp-action="Keki" asp-controller="Experience" enctype="multipart/form-data">
         
            <input type="submit" class="bttn-dark">
        </form>
    </div>
</section>